body {
    margin: 0;
    height: 70vh;
    width: 30vw;
    background-color: #85B0B7;
}

#attender {
    background-color: #BDD0CA;
    width: 90%;
    height: 20%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: #EE5840;
}

.name {
    margin-left: 5%;
}

.info {
    margin-left: 5%;
    margin-right: 5%;
}

.attenderArea {
    width: 100%;
    height: 100%;
}
